.modules-table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.modules_table__header-field {
    text-align: left;
    padding: 10px 10px 10px 0;
}

.modules_table__header-field_approved {
    width: 3%;
}

.modules-table__header-field_name {
    width: 40%;
}

.modules-table__header-field_info {
    width: 5%;
}

.modules-table__header-field_version,
.modules-table__header-field_delete {
    width: 10%;
}

.modules-table__content-row {
    border-top: 1px solid black;
}

.modules-table__field {
    text-align: left;
    padding: 15px;
    padding-left: 0;
}

.modules-table__field_center-text {
    text-align: center;
}

.modules-table__field_no-pad {
    padding: 0 15px 0 0;
}

.modules-table__field_btn {
    font-size: smaller;
    color: black;
    text-decoration: none;
    padding: 3px 5px;
    border: 1px solid black;
    border-radius: 15%;
    height: 15px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.modules-table__field_btn.wide {
    width: 50px;
}

.modules-table__field_btn.new:before {
    content: "new!";
}

.modules-table__field_btn.new:hover:before {
    font-family: 'Material Icons';
    font-size: initial;
    content: "done";
    text-rendering: optimizeLegibility;
}

.modules-table__field_btn.approve:before {
    font-family: 'Material Icons';
    font-size: initial;
    content: "done";
    text-rendering: optimizeLegibility;
}

.modules-table__field_btn.approved {
    background-color: #1655ff;
}