.modules-table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.modules_table__header-field {
    text-align: left;
    padding: 10px 10px 10px 0;
}

.modules_table__header-field_approved {
    width: 6%;
}

.modules-table__header-field_name {
    width: 40%;
}

.modules-table__header-field_info {
    width: 5%;
}

.modules-table__header-field_version,
.modules-table__header-field_delete {
    width: 10%;
}

.modules-table__content-row {
    border-top: 1px solid #D1D1D1;
}

.modules-table__field {
    text-align: left;
    padding: 15px 15px 15px 0;
}

.modules-table__field_center-text {
    text-align: center;
}

.modules-table__field_no-pad {
    padding: 0 15px 0 0;
}

.modules-table__field_btn {
    font-size: smaller;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 3px 5px;
    //border: 1px solid black;
    border-radius: 10px;
    height: 15px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background-color: #1abc9c;
}

.modules-table__field_btn.wide {
    width: 70px;
}

.modules-table__field_btn.new {
    background-color: #2ecc71;
}

.modules-table__field_btn.new:hover {
    background-color: #64DD17;
}

.modules-table__field_btn.new:before {
    content: "new";
}

.modules-table__field_btn.new:hover:before {
    font-family: 'Material Icons';
    font-size: initial;
    content: "done";
    text-rendering: optimizeLegibility;
}

.modules-table__field_btn.approve:before {
    font-family: 'Material Icons';
    font-size: initial;
    content: "done";
    text-rendering: optimizeLegibility;
}

.modules-table__field_btn.approved {
    background-color: #1655ff;
}

.modules-table__field_no-new {
    font-style: italic;
    color: #acacac;
}

.modules-table__field_btn_approve {
    background-color: #2799FF;
}
.modules-table__field_btn_approve:hover {
    background-color: #2180d7;
}

.modules-table__field_btn_info {
    background-color: #2799FF;
}
.modules-table__field_btn_info:hover {
    background-color: #2180d7;
}

.modules-table__field_btn_enable {
    background-color: #5eed50;
}
.modules-table__field_btn_enable:hover {
    background-color: #23da16;
}

.modules-table__field_btn_disable {
    background-color: #edad48;
}
.modules-table__field_btn_disable:hover {
    background-color: #da7a00;
}

.modules-table__field_btn_delete {
    background-color: #ED4F32;
}
.modules-table__field_btn_delete:hover {
    background-color: #DA4429;
}

.upload-form {
    margin-top: 20px;
}

.dot {
    border: 4px solid green;
    border-radius: 50%;
    height: 0;
    width: 0;
}

.dot-green {
    border-color: #00b300;
}

.dot-red {
    border-color: #ff3a3a;
}